# The Movie DataBase (TMDB)
## Foundations Of Computer Science Exam Project Stefano Daraio

Starting from the The Movie DataBase (TMDB) sample datasets,

1. For each movie, compute the number of cast members
2. How many movies do not have a homepage?
3. For each year, how many movies do not have a homepage?
4. Extract the domain of each homepage.
5. Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).
6. For each movie, compute the gross margin (difference between revenue and budget)
7. For each movie, compute the number of crew members
8. For each movie, compute the number of directors
9. For each language, compute the number of movies where such language is spoken.
10. For each company and each decade, compute the overall revenue
11. For each decade, compute the company with maximum revenue
12. In each year, how many movies have revenue smaller than the budget?

In [2]:
import pandas as pd
import re
import numpy as np
import json

In [120]:
movies = pd.read_csv('tmdb_5000_movies.csv')
# movies.head(2)
movies.isnull

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3730,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",http://www.cargoderfilm.ch http://cargothemovi...,34069,"[{""id"": 3388, ""name"": ""space colony""}, {""id"": ...",de,Cargo,The story of CARGO takes place on rusty space-...,10.142218,"[{""name"": ""Telepool"", ""id"": 823}, {""name"": ""At...","[{""iso_3166_1"": ""CH"", ""name"": ""Switzerland""}]",2009-09-24,0,120.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,NaN,Cargo,5.9,140
3731,4200000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://tv.disney.go.com/disneychannel/original...,10947,"[{""id"": 1412, ""name"": ""becoming an adult""}, {""...",en,High School Musical,"Troy (Zac Efron), the popular captain of the b...",16.536374,"[{""name"": ""Disney Channel"", ""id"": 3213}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-20,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,This School Rocks Like No Other!,High School Musical,6.1,1000
3732,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,47452,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 967...",en,Love and Death on Long Island,Giles De'Ath is a widower who doesn't like any...,0.933891,"[{""name"": ""Arts Council of England"", ""id"": 718...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1997-01-01,0,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Love and Death on Long Island,6.9,11
3733,4200000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",NaN,3040,"[{""id"": 616, ""name"": ""witch""}, {""id"": 1552, ""n...",ru,Ночной дозор,"Among normal humans live the ""Others"" possessi...",12.540624,"[{""name"": ""Bazelevs Production"", ""id"": 1038}, ...","[{""iso_3166_1"": ""RU"", ""name"": ""Russia""}]",2004-06-27,32000000,114.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,All That Stands Between Light And Darkness Is ...,Night Watch,6.3,210
3734,3705538,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 80, ...",http://www.miramax.com/movie/the-crying-game/,11386,"[{""id"": 108, ""name"": ""transvestism""}, {""id"": 2...",en,The Crying Game,Irish Republican Army member Fergus (Stephen R...,8.839651,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}, {""iso_...",1992-09-02,62548947,112.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Play At Your Own Risk.,The Crying Game,6.9,176
3735,4000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,10246,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...",en,Porky's,"Set in 1954, a group of Florida high schoolers...",12.891276,"[{""name"": ""Melvin Simon Productions"", ""id"": 21...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1981-11-13,125728258,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Keep an eye out for the funniest movie about g...,Porky's,6.1,183
3736,4000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 878, ""na...",http://magnetreleasing.com/survivalofthedead/,29426,"[{""id"": 12377, ""name"": ""zombie""}]",en,Survival of the Dead,"On an island off the coast of North America, l...",10.789912,"[{""name"": ""Devonshire Productions"", ""id"": 2391...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2010-05-06,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Death isn't what it used to be.,Survival of the Dead,4.6,116
3737,114000,"[{""id"": 27, ""name"": ""Horror""}]",NaN,10331,"[{""id"": 1155, ""name"": ""brother sister relation...",en,Night of the Living Dead,A group of people try to survive an attack of ...,25.666029,"[{""name"": ""Laurel Group"", ""id"": 638}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1968-10-01,30000000,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"If it doesn't scare you, you're already dead!",Night of the Living Dead,7.5,580
3738,4000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,153,"[{""id"": 213, ""name"": ""upper class""}, {""id"": 92...",en,Lost in Translation,"Two lost souls visiting Tokyo -- the young, ne...",45.666620,"[{""name"": ""American Zoetrope"", ""id"": 70}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}, {""iso_...",2003-08-31,119723856,102.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Everyone wants to be found.,Lost in Translation,7.3,1895
3739,4000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,703,"[{""id"": 2398, ""name"": ""narration""}, {""id"": 283...",en,Annie Hall,"In the city of New York, comedian Alvy Singer ...",35.892034,"[{""name"": ""United Artists"", ""id"": 60}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1977-04-19,38251425,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A nervous romance.,Annie Hall,7.8,1010

In [98]:
credits = pd.read_csv('tmdb_5000_credits.csv')
credits.head(10)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."

### 1) For each movie, compute the number of cast members

In [99]:
def cast_n(data):
    item_dict = json.loads(data)
    return(len(item_dict))
credits['cast_n'] = credits['cast'].apply(cast_members)
credits[['movie_id','title','cast_n']].head(10)

   movie_id                                     title  cast_n
0     19995                                    Avatar      83
1       285  Pirates of the Caribbean: At World's End      34
2    206647                                   Spectre      83
3     49026                     The Dark Knight Rises     158
4     49529                               John Carter      27
5       559                              Spider-Man 3     143
6     38757                                   Tangled      13
7     99861                   Avengers: Age of Ultron      72
8       767    Harry Potter and the Half-Blood Prince      49
9    209112        Batman v Superman: Dawn of Justice     152

### 2. How many movies do not have a homepage?

In [17]:
conteggio = len(movies[movies['homepage'].isnull()])
print('i film che non hanno homepage sono',conteggio)

i film che non hanno homepage sono 3091

### 3. For each year, how many movies do not have a homepage?

In [145]:
# creo variabile anno
movies['years'] = pd.to_datetime(movies['release_date'],format="%Y-%m-%d").dt.year
movies['years'] = movies['years'].replace(np.nan, 'Missing')
#selezione film senza homepage
nohomepage = movies[movies['homepage'].isnull()]
nohomepage[['id', 'years']].groupby('years').count().tail().rename(index=str, columns={'id':'count_noHomepage'})

         count_noHomepage
years
2013.0                127
2014.0                157
2015.0                110
2016.0                 31
Missing                 1

### 4. Extract the domain of each homepage.

In [143]:
movies.dom = [re.findall('://([\w+\.+\w+]*)', i) for i in movies['homepage'] if pd.notnull(i)] #list comprehension with regex
movies[['title', 'homepage', 'domain']].head(10)

,title,homepage,domain
0,Avatar,http://www.avatarmovie.com/,www.avatarmovie.com
1,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,disney.go.com
2,Spectre,http://www.sonypictures.com/movies/spectre/,www.sonypictures.com
3,The Dark Knight Rises,http://www.thedarkknightrises.com/,www.thedarkknightrises.com
4,John Carter,http://movies.disney.com/john-carter,movies.disney.com
5,Spider-Man 3,http://www.sonypictures.com/movies/spider-man3/,www.sonypictures.com
6,Tangled,http://disney.go.com/disneypictures/tangled/,disney.go.com
7,Avengers: Age of Ultron,http://marvel.com/movies/movie/193/avengers_ag...,marvel.com
8,Harry Potter and the Half-Blood Prince,http://harrypotter.warnerbros.com/harrypottera...,harrypotter.warnerbros.com
9,Batman v Superman: Dawn of Justice,http://www.batmanvsupermandawnofjustice.com/,www.batmanvsupermandawnofjustice.com

### 5. Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

#### Create movie_id

In [147]:
movie_id = movies[['id', 'budget', 'homepage', 'domain', 'original_language', 'original_title', 'overview', 'popularity', 'release_date','years', 'revenue', 'runtime', 'status', 'tagline', 'title', 'vote_average', 'vote_count' ]]
movie_id = movie_id.rename(index=str, columns={'id': 'movie_id'})
movie_id = movie_id.set_index(['movie_id'])
movie_id.head(5)

,budget,homepage,domain,original_language,original_title,overview,popularity,release_date,years,revenue,runtime,status,tagline,title,vote_average,vote_count
movie_id,,,,,,,,,,,,,,,,
19995,237000000,http://www.avatarmovie.com/,www.avatarmovie.com,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2009,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800
285,300000000,http://disney.go.com/disneypictures/pirates/,disney.go.com,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,2007,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
206647,245000000,http://www.sonypictures.com/movies/spectre/,www.sonypictures.com,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,2015,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466
49026,250000000,http://www.thedarkknightrises.com/,www.thedarkknightrises.com,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,2012,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
49529,260000000,http://movies.disney.com/john-carter,movies.disney.com,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,2012,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124

#### Create genre_id

In [210]:
genere_id = pd.DataFrame()
for film in list(range(0,len(movies['genres']))):
    tabjson = pd.read_json(movies['genres'][film])
    idfilm = movies['id'][film]
    tabjson['movie_id'] = idfilm
    genere_id = pd.concat([genere_id, tabjson])
genere_id = genere_id.rename(index=str, columns={'id': 'genre_id'})
genere_id = genere_id.rename(index=str, columns={'name': 'genre_name'})
genere_id = genere_id[['movie_id','genre_id', 'genre_name']].set_index(['movie_id','genre_id', 'genre_name'])
genere_id.head(5)

Empty DataFrame
Columns: []
Index: [(19995, 28.0, Action), (19995, 12.0, Adventure), (19995, 14.0, Fantasy), (19995, 878.0, Science Fiction), (285, 12.0, Adventure)]

#### Create keywords_id

In [216]:
keywords_id = pd.DataFrame()
for film in list(range(0,len(movies['keywords']))):
    tabjson = pd.read_json(movies['keywords'][film])
    idfilm = movies['id'][film]
    tabjson['movie_id'] = idfilm
    keywords_id = pd.concat([keywords_id, tabjson])
keywords_id = keywords_id.rename(index=str, columns={'id': 'key_id'})
keywords_id = keywords_id.rename(index=str, columns={'name': 'key_name'})
keywords = keywords_id[['key_id', 'key_name']]
keywords_id = keywords_id[['movie_id', 'key_id', 'key_name']].set_index(['movie_id', 'key_id', 'key_name'])
keywords_id.head(5)

Empty DataFrame
Columns: []
Index: [(19995, 1463.0, culture clash), (19995, 2964.0, future), (19995, 3386.0, space war), (19995, 3388.0, space colony), (19995, 3679.0, society)]

In [217]:
prod_companies_id = pd.DataFrame()
for film in list(range(0,len(movies['production_companies']))):
    tabjson = pd.read_json(movies['production_companies'][film])
    idfilm = movies['id'][film]
    tabjson['movie_id'] = idfilm
    prod_companies_id = pd.concat([prod_companies_id, tabjson])
prod_companies_id = prod_companies_id.rename(index=str, columns={'id': 'company_id'})
prod_companies_id = prod_companies_id.rename(index=str, columns={'name': 'company_name'})
prod_companies = prod_companies_id[['company_id', 'company_name']]
prod_companies_id = prod_companies_id[['movie_id', 'company_id', 'company_name']].set_index(['movie_id', 'company_id', 'company_name'])
prod_companies_id.head(5)

Empty DataFrame
Columns: []
Index: [(19995, 289.0, Ingenious Film Partners), (19995, 306.0, Twentieth Century Fox Film Corporation), (19995, 444.0, Dune Entertainment), (19995, 574.0, Lightstorm Entertainment), (285, 2.0, Walt Disney Pictures)]

In [218]:
prod_countries_id = pd.DataFrame()
for film in list(range(0,len(movies['production_countries']))):
    tabjson = pd.read_json(movies['production_countries'][film])
    idfilm = movies['id'][film]
    tabjson['movie_id'] = idfilm
    prod_countries_id = pd.concat([prod_countries_id, tabjson])
prod_countries_id = prod_countries_id.rename(index=str, columns={'iso_3166_1': 'country_id'})
prod_countries_id = prod_countries_id.rename(index=str, columns={'name': 'country_name'})
prod_countries = prod_countries_id[['country_id', 'country_name']]
prod_countries_id = prod_countries_id[['movie_id', 'country_id', 'country_name']].set_index(['movie_id', 'country_id', 'country_name'])
prod_countries_id.head()

Empty DataFrame
Columns: []
Index: [(19995, US, United States of America), (19995, GB, United Kingdom), (285, US, United States of America), (206647, GB, United Kingdom), (206647, US, United States of America)]

In [219]:
spoken_languages_id = pd.DataFrame()
for film in list(range(0,len(movies['spoken_languages']))):
    tabjson = pd.read_json(movies['spoken_languages'][film])
    idfilm = movies['id'][film]
    tabjson['movie_id'] = idfilm
    spoken_languages_id = pd.concat([spoken_languages_id, tabjson])
spoken_languages_id = spoken_languages_id.rename(index=str, columns={'iso_639_1': 'language_id'})
spoken_languages_id = spoken_languages_id.rename(index=str, columns={'name': 'language_name'})
spoken_languages = spoken_languages_id[['language_id', 'language_name']]
spoken_languages_id = spoken_languages_id[['movie_id', 'language_id', 'language_name']].set_index(['movie_id', 'language_id', 'language_name'])
spoken_languages_id.head()

Empty DataFrame
Columns: []
Index: [(19995, en, English), (19995, es, Español), (285, en, English), (206647, fr, Français), (206647, en, English)]

In [222]:
cast = pd.DataFrame()
for film in list(range(0,len(credits['cast']))):
    tabjson = pd.read_json(credits['cast'][film])
    idfilm = credits['movie_id'][film]
    tabjson['movie_id'] = idfilm
    cast = pd.concat([cast, tabjson])
cast = cast.rename(index=str, columns={'id': 'pers_id'})
cast_id = cast[['movie_id', 'cast_id', 'pers_id', 'order', 'credit_id', 'character']]
cast_id = cast_id.set_index(['credit_id'])
cast_id.head()

,movie_id,cast_id,pers_id,order,character
credit_id,,,,,
5602a8a7c3a3685532001c9a,19995,242.0,65731.0,0.0,Jake Sully
52fe48009251416c750ac9cb,19995,3.0,8691.0,1.0,Neytiri
52fe48009251416c750aca39,19995,25.0,10205.0,2.0,Dr. Grace Augustine
52fe48009251416c750ac9cf,19995,4.0,32747.0,3.0,Col. Quaritch
52fe48009251416c750ac9d3,19995,5.0,17647.0,4.0,Trudy Chacon

In [223]:
crew = pd.DataFrame()
for film in list(range(0,len(credits['crew']))):
    tabjson = pd.read_json(credits['crew'][film])
    idfilm = credits['movie_id'][film]
    tabjson['movie_id'] = idfilm
    crew = pd.concat([crew, tabjson])
crew = crew.rename(index=str, columns={'id': 'pers_id'})
crew_id = crew[['movie_id', 'credit_id', 'pers_id', 'department', 'job']]
crew_id = crew_id.set_index(['credit_id'])
crew_id.head()

,movie_id,pers_id,department,job
credit_id,,,,
52fe48009251416c750aca23,19995,1721.0,Editing,Editor
539c47ecc3a36810e3001f87,19995,496.0,Art,Production Design
54491c89c3a3680fb4001cf7,19995,900.0,Sound,Sound Designer
54491cb70e0a267480001bd0,19995,900.0,Sound,Supervising Sound Editor
539c4a4cc3a36810c9002101,19995,1262.0,Production,Casting

In [225]:
attori_crew = crew[['pers_id', 'gender', 'name']]
attori_cast = cast[['pers_id', 'gender', 'name']]

In [232]:
crew.sort_values(['pers_id'], ascending=[True])

,credit_id,department,gender,pers_id,job,movie_id,name
2.0,52fe431ec3a36847f803bbc5,Writing,2.0,1.0,Story,1891,George Lucas
2.0,52fe431ec3a36847f803bd03,Production,2.0,1.0,Executive Producer,1893,George Lucas
1.0,52fe431ec3a36847f803bca9,Directing,2.0,1.0,Director,1893,George Lucas
0.0,52fe431ec3a36847f803bca3,Writing,2.0,1.0,Screenplay,1893,George Lucas
0.0,52fe4215c3a36847f8002c45,Production,2.0,1.0,Executive Producer,87,George Lucas
1.0,52fe4215c3a36847f8002c7b,Editing,2.0,1.0,Editor,87,George Lucas
2.0,5895b3a69251412e1400835b,Writing,2.0,1.0,Story,87,George Lucas
3.0,5895b3b89251412e16008b8d,Writing,2.0,1.0,Characters,87,George Lucas
0.0,52fe4227c3a36847f800847d,Production,2.0,1.0,Executive Producer,217,George Lucas
2.0,52fe4216c3a36847f8002e93,Writing,2.0,1.0,Characters,89,George Lucas
1.0,52fe4216c3a36847f8002e69,Editing,2.0,1.0,Editor,89,George Lucas
0.0,52fe4216c3a36847f8002e01,Production,2.0,1.0,Executive Producer,89,George Lucas
0.0,52fe431ec3a36847f803bc0f,Writing,2.0,1.0,Screenplay,1892,George Lucas
0.0,52fe4215c3a36847f8002a3d,Production,2.0,1.0,Executive Producer,85,George Lucas
1.0,52fe431ec3a36847f803bc53,Production,2.0,1.0,Executive Producer,1892,George Lucas
2.0,52fe431ec3a36847f803bc4d,Writing,2.0,1.0,Story,1892,George Lucas
0.0,52fe427ec3a36847f80232b7,Writing,2.0,1.0,Screenplay,838,George Lucas
1.0,52fe4228c3a36847f80084c7,Writing,2.0,1.0,Story,217,George Lucas
2.0,52fe4228c3a36847f80084cd,Writing,2.0,1.0,Characters,217,George Lucas
1.0,52fe427ec3a36847f80232b1,Directing,2.0,1.0,Director,838,George Lucas
1.0,52fe431ec3a36847f803bbcb,Production,2.0,1.0,Executive Producer,1891,George Lucas
0.0,588a748cc3a368409301c92a,Crew,2.0,1.0,Thanks,13155,George Lucas
0.0,566e19f292514169e200d46f,Editing,2.0,1.0,Editor,1891,George Lucas
0.0,56afb1ffc3a36831720007cb,Writing,2.0,1.0,Writer,333355,George Lucas
0.0,52fe44be9251416c7503f5ed,Production,2.0,1.0,Executive Producer,12144,George Lucas
0.0,52fe439d9251416c7501758b,Production,2.0,1.0,Executive Producer,10658,George Lucas
0.0,52fe431fc3a36847f803bea3,Writing,2.0,1.0,Screenplay,1895,George Lucas
1.0,52fe4215c3a36847f8002a5b,Editing,2.0,1.0,Editor,85,George Lucas
1.0,52fe431fc3a36847f803be97,Directing,2.0,1.0,Director,1895,George Lucas
0.0,562ed26cc3a3681b4d00d676,Crew,2.0,1.0,Thanks,2359,George Lucas
...,...,...,...,...,...,...,...
46.0,59c1820c9251412b8a0018e7,Crew,0.0,1891328.0,Armorer,116613,Rob Partridge
47.0,59c18265c3a3684cec00194f,Writing,0.0,1891329.0,Script Editor,116613,Toby Rushton
68.0,59c24b9592514176ef00caa1,Camera,0.0,1891659.0,Camera Operator,10877,Ryan McMaster
69.0,59c24be392514176ef00caf6,Lighting,0.0,1891660.0,Rigging Grip,10877,Matthew Pill
79.0,59c42253c3a368140301d034,Art,0.0,1892484.0,Assistant Art Director,664,Chuck Parker
80.0,59c4229bc3a368145401a858,Art,0.0,1892485.0,Greensman,664,John Aldays
81.0,59c422e19251415b3201b891,Art,0.0,1892486.0,Painter,664,Dave Margolin
82.0,59c42346c3a368141e019a9d,Art,0.0,1892487.0,Standby Painter,664,Mark Hudson
83.0,59c4239f9251415b8701b152,Camera,0.0,1892491.0,Key Grip,664,Ron Cooney
84.0,59c4245dc3a368141e019b7c,Costume & Make-Up,0.0,1892494.0,Set Dressing Artist,664,Kenneth Sayers
85.0,59c42485c3a368145401a9bb,Crew,0.0,1892495.0,Carpenter,664,Tom Osman
86.0,59c424c09251415b5401b1cc,Crew,0.0,1892496.0,Driver,664,Mitch Friedman
87.0,59c4259dc3a368143001cdef,Crew,0.0,1892498.0,Software Engineer,664,Florian Kainz
88.0,59c425ebc3a36813ed01c526,Crew,0.0,1892499.0,Stunts,664,Steven Chambers
89.0,59c426359251415b5d01ba05,Crew,0.0,1892500.0,Transportation Co-Captain,664,Sheridan Ross Batson
70.0,59c58d72c3a368141e02f5a5,Art,0.0,1893221.0,Art Department Coordinator,8467,T'boo Dalton
71.0,59c58d95c3a36813a903180b,Art,0.0,1893222.0,Construction Coordinator,8467,Lynn Clark
72.0,59c58d9fc3a3681443034938,Art,0.0,1893223.0,Construction Foreman,8467,Rick Chrisman
73.0,59c58dae9251415b5d032144,Art,0.0,1893224.0,Painter,8467,Ed Bodily
74.0,59c58de8c3a3681454030a8e,Camera,0.0,1893225.0,Key Grip,8467,Charles M. Smallwood
75.0,59c58df8c3a3681430034203,Camera,0.0,1893226.0,Grip,8467,Sandy Bloom
76.0,59c58e7cc3a3681443034a63,Crew,0.0,1893227.0,Carpenter,8467,Ben Hoopes
77.0,59c58e9cc3a368141e02f719,Crew,0.0,1893229.0,Craft Service,8467,Josie Fife
78.0,59c58eaa9251415b280342e1,Crew,0.0,1893230.0,Driver,8467,Jose Luis Alvarado
79.0,59c590089251415b5d032448,Crew,0.0,1893233.0,Security,8467,Rick Baily
80.0,59c59016c3a36813ed033ee2,Crew,0.0,1893234.0,Set Medic,8467,Lori A. Ellington
81.0,59c5907c9251415b2803451d,Crew,0.0,1893236.0,Stand In,8467,Rolf Sigurd Brekke
82.0,59c5915fc3a368141e02fa24,Lighting,0.0,1893237.0,Best Boy Electric,8467,John Ditomaso
83.0,59c59279c3a368146102ccc1,Writing,0.0,1893238.0,Storyboard,8467,Kevin Farrell
84.0,59c592889251415b280347a2,Crew,0.0,1893239.0,Studio Teachers,8467,Cindy Fischer

In [233]:
cast.sort_values(['pers_id'], ascending=[True])

,cast_id,character,credit_id,gender,pers_id,movie_id,name,order
24.0,78.0,Baron Papanoida,584a4128c3a368141f01b620,2.0,1.0,1895,George Lucas,24.0
21.0,5.0,Disappointed Man,52fe4235c3a36847f800c2f7,2.0,1.0,306,George Lucas,21.0
66.0,88.0,Missionary (uncredited),5895b352c3a36822e0004ad5,2.0,1.0,87,George Lucas,66.0
27.0,51.0,Man Kissing on Bridge (uncredited),5781e003c3a3681f4d000f21,2.0,1.0,879,George Lucas,27.0
0.0,8.0,Luke Skywalker,52fe431ec3a36847f803bc13,2.0,2.0,1892,Mark Hamill,0.0
0.0,7.0,Luke Skywalker,52fe431ec3a36847f803bb6b,2.0,2.0,1891,Mark Hamill,0.0
0.0,3.0,Luke Skywalker,52fe420dc3a36847f8000441,2.0,2.0,11,Mark Hamill,0.0
16.0,25.0,Cock-Knocker,52fe434bc3a36847f8049419,2.0,2.0,2294,Mark Hamill,16.0
1.0,8.0,Han Solo,52fe431ec3a36847f803bb6f,2.0,3.0,1891,Harrison Ford,1.0
0.0,1.0,Dutch Van Den Broeck,52fe45089251416c75049605,2.0,3.0,12618,Harrison Ford,0.0
1.0,3.0,Colonel Hyrum Graff,52fe47b39251416c91072cdb,2.0,3.0,80274,Harrison Ford,1.0
0.0,14.0,Jack Ryan,52fe44e8c3a36847f80b130f,2.0,3.0,9331,Harrison Ford,0.0
0.0,1.0,Quinn Harris,52fe443bc3a36847f8089c0b,2.0,3.0,6068,Harrison Ford,0.0
1.0,4.0,Mike Pomeroy,52fe46b09251416c9105c6b7,2.0,3.0,38357,Harrison Ford,1.0
0.0,8.0,Indiana Jones,52fe4216c3a36847f8002e1d,2.0,3.0,89,Harrison Ford,0.0
0.0,1.0,Lieutenant Colonel Barnsby,52fe471e9251416c7508e46f,2.0,3.0,17339,Harrison Ford,0.0
4.0,21.0,Martin Stett,52fe4259c3a36847f801751f,2.0,3.0,592,Harrison Ford,4.0
0.0,11.0,Jack Ryan,52fe453bc3a36847f80c33b1,2.0,3.0,9869,Harrison Ford,0.0
2.0,9.0,Branch Rickey,52fe4ab2c3a36847f81dcdd7,2.0,3.0,109410,Harrison Ford,2.0
10.0,45.0,Himself,55c39eaf9251413ee8002950,2.0,3.0,18480,Harrison Ford,10.0
0.0,4.0,Indiana Jones,52fe4227c3a36847f8008477,2.0,3.0,217,Harrison Ford,0.0
0.0,6.0,Rick Deckard,52fe4214c3a36847f800259f,2.0,3.0,78,Harrison Ford,0.0
14.0,27.0,Mack Tannen,535fd2de0e0a264fe1008072,2.0,3.0,109443,Harrison Ford,14.0
0.0,1.0,President James Marshall,52fe4529c3a36847f80bfe91,2.0,3.0,9772,Harrison Ford,0.0
7.0,36.0,Colonel Lucas,52fe4210c3a36847f8001377,2.0,3.0,28,Harrison Ford,7.0
1.0,9.0,Han Solo,52fe431ec3a36847f803bc17,2.0,3.0,1892,Harrison Ford,1.0
0.0,1.0,Jack Stanfield,52fe4527c3a36847f80bf513,2.0,3.0,9754,Harrison Ford,0.0
0.0,2.0,Indy,52fe4215c3a36847f8002a05,2.0,3.0,85,Harrison Ford,0.0
0.0,8.0,Det. Capt. John Book,52fe44e1c3a36847f80af7fd,2.0,3.0,9281,Harrison Ford,0.0
0.0,1.0,Dr. Robert Stonehill,52fe4554c3a368484e053f51,2.0,3.0,27569,Harrison Ford,0.0
...,...,...,...,...,...,...,...,...
41.0,89.0,Drunken Princetonian,59befd91c3a368307500797a,0.0,1890145.0,4944,William D. Grey,41.0
42.0,90.0,Drunken Princetonian,59befda0c3a368300e007090,0.0,1890146.0,4944,Gary Henderson,42.0
44.0,91.0,Drunken Princetonian,59befdaa92514147200072a4,0.0,1890147.0,4944,Bill Massof,44.0
45.0,92.0,Drunken Princetonian,59befdbac3a3682ff80073f2,0.0,1890148.0,4944,Brian McKeon,45.0
46.0,93.0,Drunken Princetonian,59befdca92514147560076db,0.0,1890149.0,4944,Ken McNeill,46.0
48.0,94.0,Drunken Princetonian,59befddec3a3682fd8006fb0,0.0,1890150.0,4944,Jay Parks,48.0
51.0,95.0,Drunken Princetonian,59befdfcc3a3682fd8006fce,0.0,1890151.0,4944,Bart Wilder,51.0
15.0,19.0,Fu,59bf9f51925141472a012aff,0.0,1890374.0,18840,Young Fu Fan,15.0
16.0,20.0,Christina,59bf9fbcc3a3683065010a5e,0.0,1890375.0,18840,Manouk Tideman,16.0
17.0,21.0,Columbine,59bf9fddc3a3683075013d90,0.0,1890376.0,18840,Hong Lan Hou,17.0
18.0,22.0,Harlequin,59bfa002c3a3682feb013315,0.0,1890377.0,18840,Kyle Rothstein,18.0
25.0,42.0,Reporter,59c1780ec3a3684cdc000bf2,1.0,1891303.0,116613,Zora Suleman,25.0
27.0,44.0,Young Bank Lady,59c17911c3a3684ca0000cf9,1.0,1891305.0,116613,Florence Brudenell-Bruce,27.0
19.0,53.0,Gregory,59c240b5c3a3682caf00b25d,0.0,1891649.0,10877,Gregory Vitale,19.0
23.0,57.0,Jail Guard,59c241c6c3a3682c6f00b0f6,0.0,1891652.0,10877,Rick Demas,23.0
37.0,51.0,Anna Scott,59c3cb1dc3a368141e013f64,0.0,1892328.0,524,Ffolliott Le Coque,38.0
151.0,273.0,Protester (uncredited),59c41b2c9251415b6e01a39d,0.0,1892479.0,209112,Marcelo Bem,151.0
31.0,70.0,Eothain,59c45e149251415b77020340,0.0,1892757.0,121,Sam Comery,31.0
12.0,23.0,Harry's Friend,59c576c6c3a36813ed0320c3,0.0,1893196.0,226857,Jake Schultz,12.0
14.0,25.0,Waiter,59c576c69251415b32030fef,0.0,1893197.0,226857,Zechariah Pierce,14.0
20.0,31.0,High School Girl,59c576c8c3a36814300326c4,0.0,1893198.0,226857,Alexa Rachelle,20.0
21.0,32.0,Party Boy,59c576c8c3a368140303358e,0.0,1893199.0,226857,Jonathan Velazquez,21.0
23.0,34.0,Dancing Party Girl,59c576c99251415b8702fedb,0.0,1893200.0,226857,Danielle Rodas,23.0
24.0,35.0,Dancing Party Boy,59c576c99251415b8702fee0,0.0,1893201.0,226857,Tallie L. Brinson,24.0
25.0,36.0,Boy in Pool,59c576ca9251415b5d030713,0.0,1893202.0,226857,William Henry Milne,25.0
26.0,37.0,Girl in Pool,59c576ca9251415b540302d9,0.0,1893203.0,226857,Sonia Rose,26.0
27.0,38.0,Charlie,59c576ca9251415b28032670,0.0,1893204.0,226857,Joey Nappo,27.0
30.0,40.0,Hospital Receptionist,59c576cbc3a36813a902fe2e,0.0,1893205.0,226857,Michelle Brzenk,30.0
34.0,42.0,Miles,59c576ccc3a368145402f091,0.0,1893206.0,226857,Matthew Withers,34.0
36.0,44.0,Fire Lieutenant,59c576cd9251415b8702fee7,0.0,1893207.0,226857,Skip P. Welch,36.0

In [227]:
attori_cast

        pers_id  gender                    name
0.0     65731.0     2.0         Sam Worthington
1.0      8691.0     1.0             Zoe Saldana
2.0     10205.0     1.0        Sigourney Weaver
3.0     32747.0     2.0            Stephen Lang
4.0     17647.0     1.0      Michelle Rodriguez
5.0      1771.0     2.0         Giovanni Ribisi
6.0     59231.0     2.0        Joel David Moore
7.0     30485.0     1.0             CCH Pounder
8.0     15853.0     2.0               Wes Studi
9.0     10964.0     2.0              Laz Alonso
10.0    95697.0     2.0              Dileep Rao
11.0    98215.0     2.0             Matt Gerald
12.0   154153.0     2.0      Sean Anthony Moran
13.0   397312.0     2.0             Jason Whyte
14.0    42317.0     2.0          Scott Lawrence
15.0   986734.0     2.0           Kelly Kilgour
16.0  1207227.0     0.0      James Patrick Pitt
17.0  1180936.0     0.0     Sean Patrick Murphy
18.0  1019578.0     2.0            Peter Dillon
19.0    91443.0     0.0            Kevin Dorman
20.0   173391.0     2.0        Kelson Henderson
21.0  1207236.0     0.0          David Van Horn
22.0   215913.0     0.0            Jacob Tomuri
23.0   143206.0     0.0    Michael Blain-Rozgay
24.0   169676.0     2.0               Jon Curry
25.0  1048610.0     0.0             Luke Hawker
26.0    42288.0     0.0           Woody Schultz
27.0    68278.0     2.0            Peter Mensah
28.0  1207247.0     0.0               Sonia Yee
29.0  1207248.0     1.0          Jahnel Curfman
...         ...     ...                     ...
2.0     57471.0     2.0         Peter Marquardt
3.0   1192733.0     0.0         Reinol Martinez
4.0   1192734.0     0.0            Ramiro Gomez
5.0   1293343.0     0.0          Consuelo Gómez
6.0   1066358.0     2.0             Juan García
0.0     12833.0     2.0            Edward Burns
1.0     58356.0     1.0             Kerry Bishé
2.0     17188.0     1.0         Marsha Dietlein
3.0    211993.0     1.0      Caitlin Fitzgerald
4.0   1257819.0     0.0         Daniella Pineda
0.0     11867.0     2.0             Eric Mabius
1.0     34915.0     1.0           Kristin Booth
2.0     58393.0     1.0            Crystal Lowe
3.0    119810.0     0.0         Geoff Gustafson
4.0     77865.0     2.0  Benjamin Hollingsworth
5.0   1037844.0     1.0           Laci J Mailey
6.0     14668.0     1.0           Daphne Zuniga
0.0     82093.0     2.0           Daniel Henney
1.0    210050.0     1.0             Eliza Coupe
2.0      2053.0     2.0             Bill Paxton
3.0      2394.0     2.0               Alan Ruck
4.0   1395490.0     0.0              Zhu Shimao
0.0     69597.0     1.0          Drew Barrymore
1.0     85563.0     2.0        Brian Herzlinger
2.0      3034.0     2.0           Corey Feldman
3.0     21315.0     2.0            Eric Roberts
4.0      2171.0     0.0           Griffin Dunne
5.0      2231.0     2.0       Samuel L. Jackson
6.0     14407.0     2.0            Matt LeBlanc
7.0    155007.0     2.0             Bill D'Elia

[106257 rows x 3 columns]

In [50]:
movies.loc[movies['years'] == 'Missing']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,years
4553,0,[],NaN,380097,[],en,America Is Still the Place,1971 post civil rights San Francisco seemed li...,0.0,[],...,NaN,0,0.0,[],Released,NaN,America Is Still the Place,0.0,0,Missing

$e^{i\pi} + 1 = 0$

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

- One
- Sublist
- This